
/* map_student.css - contains styling for student view of their map route */

/**
 * ========
 * Variables
 * ========
**/

:root {
    /* Main Colours */

    /* Font Families/Presets */
    --main-font-family: "Roboto";
    --btn-font-family: "Inter";

    --nav-link-font: normal 400 14px / 24px var(--main-font-family);
    --nav-btn-font: normal 600 14px / 20px var(--btn-font-family); 
    --nav-logo-font: normal 900 26px / 38px var(--main-font-family);

    --hero-heading-font: normal 500 50px / 66px var(--main-font-family);
    --hero-body-font: normal 400 18px / 30px var(--main-font-family);
    /* ^ Might be temporary, depending on if we get logo image */   

    /* Box Shadows + Outlines */
    --btn-dark-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.24), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
    --btn-light-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);

    /* Animations & Transitions */
    --transition-ease: all 0.5s ease;
    --transition-navbar: all 0.25s ease;
}

/**
 * ========
 * General Styling
 * ========
**/

main {
    /* width: 100%; */
    overflow: hidden;
}

body {
    /* height: 10000px; */
}

.page-btn {
    display: inline-flex;
    width: 189px;
    height: 40px;
    padding: 10px 14px 10px 18px;
    justify-content: flex-end;
    align-items: center;

    border: none;
    border-radius: 8px;
}

.page-btn.page-btn-dark {
    background: var(--Grey-1000, #1A1D1F);
    box-shadow: var(--btn-dark-shadow);
}

.page-btn.page-btn-light {
    background: var(--Primary-White, #FFF);
    box-shadow: var(--btn-light-shadow);
}

.page-btn span {
    width: 105px;
    text-align: center;

    font: var(--nav-btn-font);
}

.page-btn.page-btn-dark span {
    color: var(--Primary-White, #FFF);
}

.page-btn.page-btn-light span {
    color: var(--Primary-Black, #000);
}

.page-btn .page-btn-arrow {
    width: 18px;
    height: 18px;
}

/**
 * ========
 * Background Map Image Styling
 * ========
**/
.map-image {
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    /* background-color: rgba(255, 0, 0, 0.2); */
}

.map-image img {
    position: relative;
    /* top: 10%; */
    z-index: -1;
    width: 100%;
    height: auto;
}

/**
 * ========
 * Header Navbar Styling
 * ========
**/

.header {
    display: flex;
    vertical-align: middle;
    position: fixed;
    width: 100%;
    height: 60px;
    margin-top: 0;
    padding: 0;
    z-index: 500;

    /* background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid rgb(216, 216, 216); */

    background-color: transparent;
    transition: var(--transition-ease);
}

/* Dynamically add class when screen scrolled down */
.header.showBG {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgb(216, 216, 216); /* temp for debug */
}

.header .navbar {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.header-content {
    display: flex;
    width: 100%;

    height: fit-content;
    justify-content: space-between;
    vertical-align: middle;
}

/* Header left links */
ul.content-main-left {
    width: fit-content;
    height: 24px;
    gap: 59px;
    margin-top: auto;
    margin-bottom: auto;

    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-radius: 20px;
    opacity: 0.9;
}

.content-main-left a {
    text-decoration: none;
    width: fit-content;
    height: 22.5px;

}

.main-link {
    font: var(--nav-link-font);
    color: var(--Colour-Main-Blue-500, #505F98);
    font-feature-settings: 'clig' off, 'liga' off;
}

/* Header center logo */
.content-logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 12px;
    margin-left: auto; 
    margin-right: auto; 
    width: fit-content;
}

#header-logo-text {
    font: var(--nav-logo-font);
    color: var(--Colour-Logo-Primary, #37447E);
    font-feature-settings: 'clig' off, 'liga' off;
}

/*  */
.content-main-right {
    position: fixed;
    width: fit-content;
    height: fit-content;
    top: 10px;
    right: 55px;
}

.content-main-right img {
    width: 60px;
    height: 60px;
}

/* Extra stylings for large screens */
@media screen and (min-width: 1153px) {
    .header-content {
        width: 1153px;
        margin: auto;
    }
}

/**
 * ========
 * Route Info Box Styling
 * ========
**/

.route-container-outer {
    position: fixed;
    display: grid;
    width: 416px;
    height: 725px;
    bottom: 16px;
    left: 15px;
    padding-left: 15px;
    padding-right: 15px;

    border-radius: 25px;
    background: #F7F7F6;

}

.route-title {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-top: 32.4px;
    margin-bottom: 16.1px;
    margin-left: 5px;
}

.route-container-inner {
    /* margin-top: 70.8px; */
    width: 386px;
    height: 615px;

    border-radius: 10px;
    background: #FFF;
}

.route-wrapper {
    width: 344px;
    height: 395px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    padding-top: 12px;

    border-bottom: 0.3px solid var(--Gray50, #BDBDBD);
}

.route-name, .route-weather, .route-status {
    display: flex;
    width: 279px;
    height: fit-content;
    vertical-align: middle;
}

.route-name img, .route-weather img, .route-status img {
    width: 24px;
    height: 24px;

    margin-top: auto;
    margin-bottom: auto;
}

.route-name-text, .route-weather-text, .route-status-text {
    display: grid;
    margin-left: 12.5px;
}

.route-name-title, .route-weather-title, .route-status-title {
    width: fit-content;
    height: fit-content;

    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.route-name-subtitle, .route-weather-subtitle, .route-status-subtitle {
    width: fit-content;
    height: fit-content;
    color: #868782;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.route-stops {
    display: flex;
    margin-top: 29px;
}

/* Route center images */
.route-visual {
    margin-left: 15px;
    gap: 32px;
}

/* Run JS Code to change BG/color to blue, based off of API calls */
.visual-circle {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 999px;
    margin-bottom: 32px;

    background: #6C6C6C;
}

.visual-circle::before {
    position: absolute;
    bottom: 10px;
    left: 4.325px;
    content: "";
    border: 1px #6C6C6C solid;
    width: 1px;
    height: 32px;
}

#visual-circle-1 {
    background: #367AFF;
}

#visual-circle-1::before {
    bottom: 5px;
    left: 5px;
    border: 1px #367AFF solid;
    width: 0px;
    height: 0px;
}

#visual-circle-3 {
    margin-bottom: 0;
    background: #FBBC05;
}

/* #visual-circle-3::before {
    border: 1px #FBBC05 solid;
} */

.visual-circle::after {
    position: absolute;
    left: 29px;
    bottom: -2.5px;
    width: 200px;

    color: #6C6C6C;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#visual-circle-1::after {
    content: "3 fullfilled stops";
    color: #1350C5;
}

#visual-circle-2::after {
    content: "Stop 4";
}

#visual-circle-3::after {
    content: "Arrived at School";
    color: #FBBC05;
}

/* Other Route Elements */
.route-time {
    display: flex;
    margin-left: 9px;
    margin-top: 29px;
    flex-flow: column;
    gap: 6px;
}

.route-time span {
    color: #9A9A9A;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.route-btn {
    display: flex;
    width: 344px;
    height: 102px;
    flex-flow: column;
    gap: 10px;

    margin-top: 21px;

}

.route-btn button {
    width: 344px;
    height: 48px;
    padding: 12px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    outline: none;
    border: none;

    color: var(--Primary-White, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.route-btn-track {
    background: var(--Grey-1000, #1A1D1F);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.24), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
}

button.route-btn-cancel {
    background: var(--Primary-White, #FFF);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);

    color: #EA4335;
}

.route-weather, .route-status {
    margin-left: 23px;
}

.route-weather {
    margin-top: 38px;
}

.route-status {
    margin-top: 25px;
}

/**
 * ========
 * Other General Page Elements
 * ========
**/

.ui-container {
    position: fixed;
    bottom: 43px;
    right: 42px;
    height: 509px;
    width: auto;
}


