{% extends "auth_base.html" %}
{% block title %}BusBuddy - Login{% endblock %}

<!-- Local stylesheets for this page -->
{% block authStyling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

<!-- Main page content -->
{% block authContent %}
    <div class="login-wrapper">
        <div id="login-text" class="login-text">
            <span class="login-text-title">Sign In</span>
            <span class="login-text-subtitle">Please login to continue to your account.</span>
        </div>
    
        <div id="login-body" class="login-body">
            <form class="login-form" id="login-form" action="#" method="post">
                <div id="error-msg">
                    {#  
                        {% with errors = get_flashed_messages(category_filter=["login_error"]) %}
                            {% if errors %}
                                {% for error in errors %}
                                    {{ error }}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}  
                    #}
                </div>
    
                <div class="login-label" id="label-email"></div>
                <input class="login-form-text" type="text" name="email" id="login-form-user" placeholder="Email">        
                <div class="login-error" id="err-email"></div>
    
                <div class="login-label" id="label-pass"></div>
                <input class="login-form-text" type="password" name="password" id="login-form-pwd" placeholder="Password">
                <div class="login-error" id="err-pass"></div>

                <span class="login-remember">
                    <input id="form-remember" type="checkbox" name="remember">
                    <label id="lbl-remember" for="remember">Keep me logged in</label>
                </span>
    
                <button class="login-form-btn btn-text" id="login-submit" type="submit">Sign in</button>
            </form>
    
            <div class="login-form-alt">
                <img src="../static/vendor/images/auth/or.png" alt="" srcset="">
                
                <a href="">
                    <button class="login-form-btn btn-text" id="login-google" >
                        <span>Sign in with Google</span>
                        <img src="../static/vendor/images/auth/Google.svg" alt="">
                    </button>
                </a>
            </div>
        </div>
    
    
    
        <div class="login-extras" id="">
            <span>
                Need an account? <a href="/register">I'm a Student</a> or <a href="/admin/register">I'm an Admin</a>
            </span>
        </div>
    </div>
{% endblock %}

{% block authScripts %}
<script src="../static/js/login.js"></script>
{% endblock %}