<!-- Student view of their bus route for a particular school. -->

{% extends "base.html" %}
{% block title %}BusBuddy - Student Bus Overview{% endblock %}

<!-- Local stylesheets for this page -->
{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/map_admin.css') }}">
{% endblock %}

<!-- Main page content -->
{% block content %}
<main>
    <!-- Header -->
    <header id="header" class="header page fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light">

            <div class="header-content">
                <!-- Actual header navigation items -->
                <!-- <div id="header-content" class="text-bg-light" tabindex="-1"> -->
                <ul class="content-main-left navbar-nav">
                    <a href="">
                        <li id="main-profile" class="main-link navbar-item">Profile</li>
                    </a>
                    <a href="">
                        <li id="main-route" class="main-link navbar-item">Route</li>
                    </a>
                    <a href="">
                        <li id="main-help" class="main-link navbar-item">Help</li>
                    </a>
                </ul>

                <!-- Header logo -->
                <div class="content-logo">
                    <a class="navbar-brand" href="">
                        <img id="header-logo-img" src="../static/vendor/images/general/logo.png" alt="" />
                        <span id="header-logo-text">BusBuddy</span>
                    </a>
                </div>
                
                <!-- Header profile -->
                <div class="content-main-right" id="">
                    <!-- <button id="school-btn" class="page-btn page-btn-dark" id="">
                        <span>For Schools</span>
                        <img class="page-btn-arrow" src="../static/vendor/images/buttons/arrow-right-light.svg" alt="">
                    </button> -->

                    <!-- Put profile image here -->
                    <a href="/logout">
                        <img src="../static/vendor/images/maps/profileAdmin.png" alt="">
                    </a>
                </div>
            </div>

        </nav>
    </header>

    <body>
        <div id="sessionInfo">{{ session }}</div>

        <div class="map-image">
            <img src="../static/vendor/images/maps/mapSampleBG.png" alt="">
        </div>
        
        <div class="route-container-outer">
            <span class="route-title">Updates</span>
            <div class="route-container-inner">

                <ul class="route-list">
                    <li class="route-item route-dropdown" id="route-1" >
                        <button class="route-name" data-filename="route1">
                            <div class="route-name-inner">
                                <img class="route-icon" src="../static/vendor/images/maps/busIcon.png" alt="">
                                <div class="route-name-text">
                                    <span class="route-name-title">Route 1</span>
                                    <span class="route-name-subtitle">Early - Departing from Stop 1</span>
                                </div>
                            </div>
                            <img class="route-arrow" src="../static/vendor/images/maps/dropdownArrow.svg" alt="">
                        </button>

                        <div class="route-wrapper">
                            <div class="route-stops">
                                <div class="route-visual">
                                    <div class="visual-circle" id="visual-circle-1"></div>
                                    <div class="visual-circle" id="visual-circle-2"></div>
                                    <div class="visual-circle" id="visual-circle-3"></div>
                                </div>
                            </div>
        
                            <div class="route-time">
                                <span>Bus estimated arrival: 7:36 AM</span>
                                <span>Destination estimated arrival: 7:58 AM</span>
                            </div>
        
                            <div class="route-btn">
                                <button class="route-btn-track">Track Location</button>
                                <button class="route-btn-cancel">Cancel Your Stop</button>
                            </div>
        
                        </div>
                    </li>

                    <li class="route-item route-dropdown" id="route-2">
                        <button class="route-name" data-filename="route2">
                            <div class="route-name-inner">
                                <img class="route-icon" src="../static/vendor/images/maps/busIcon.png" alt="">
                                <div class="route-name-text">
                                    <span class="route-name-title">Route 2</span>
                                    <span class="route-name-subtitle">On Time - Departing from Stop 1</span>
                                </div>
                            </div>
                            <img class="route-arrow" src="../static/vendor/images/maps/dropdownArrow.svg" alt="">
                        </button>

                        <div class="route-wrapper">
                            <div class="route-stops">
                                <div class="route-visual">
                                    <div class="visual-circle" id="visual-circle-1"></div>
                                    <div class="visual-circle" id="visual-circle-2"></div>
                                    <div class="visual-circle" id="visual-circle-3"></div>
                                </div>
                            </div>
        
                            <div class="route-time">
                                <span>Bus estimated arrival: 7:36 AM</span>
                                <span>Destination estimated arrival: 7:58 AM</span>
                            </div>
        
                            <div class="route-btn">
                                <button class="route-btn-track">Track Location</button>
                                <button class="route-btn-cancel">Cancel Your Stop</button>
                            </div>
        
                        </div>
                    </li>

                    <li class="route-item route-dropdown" id="route-3">
                        <button class="route-name" data-filename="route3">
                            <div class="route-name-inner">
                                <img class="route-icon" src="../static/vendor/images/maps/busIcon.png" alt="">
                                <div class="route-name-text">
                                    <span class="route-name-title">Route 3</span>
                                    <span class="route-name-subtitle">On Time - Departing from Stop 1</span>
                                </div>
                            </div>
                            <img class="route-arrow" src="../static/vendor/images/maps/dropdownArrow.svg" alt="">
                        </button>

                        <div class="route-wrapper">
                            <div class="route-stops">
                                <div class="route-visual">
                                    <div class="visual-circle" id="visual-circle-1"></div>
                                    <div class="visual-circle" id="visual-circle-2"></div>
                                    <div class="visual-circle" id="visual-circle-3"></div>
                                </div>
                            </div>
        
                            <div class="route-time">
                                <span>Bus estimated arrival: 7:36 AM</span>
                                <span>Destination estimated arrival: 7:58 AM</span>
                            </div>
        
                            <div class="route-btn">
                                <button class="route-btn-track">Track Location</button>
                                <button class="route-btn-cancel">Cancel Your Stop</button>
                            </div>
        
                        </div>
                    </li>
                </ul>

            </div>
        </div>

        <img class="ui-container" src="../static/vendor/images/maps/UIIcons.png" alt="">
    </body>
</main>

{% endblock %}

{% block scripts %}
<script>
    // HTML DOM Elements
    const tabDropdown = document.querySelectorAll(".route-dropdown > button");
    const backgroundMap = document.querySelector(".map-image img");

    /**
     * This function is called whenever a parent tab with dropdown contents is clicked, causing
     * the element and its parent tab menus (if any) to toggle active classes ("menu-open") and 
     * increase/decrease in height size accordingly.
    **/
    function toggleDropdown() {
        let subMenu = this.nextElementSibling;
        let subMenuArrow = this.querySelector(".route-arrow");
        let otherTabDropdowns = Array.from(tabDropdown).filter((elem) => elem != this);
        // console.log(otherTabDropdowns)

        this.classList.toggle("menu-open");
        backgroundMap.style.opacity = "0";
        backgroundMap.src = `../static/vendor/maps/${this.dataset.filename}.png`;
        backgroundMap.style.transition = "opacity 1s ease";
        backgroundMap.style.opacity = "1";
        

        otherTabDropdowns.forEach((tab) => {
            tab.classList.remove("menu-open");
            let otherSubMenu = tab.nextElementSibling;
            let otherSubMenuArrow = tab.querySelector(".route-arrow");

            otherSubMenu.style.maxHeight = "0px";
            otherSubMenu.style.paddingBottom = "0px";
            otherSubMenuArrow.style.transform = "scaleY(1)";
        })

        if (this.classList.contains("menu-open")) {
            subMenu.style.maxHeight = "395px";
            subMenu.style.paddingBottom = "30px";
            subMenuArrow.style.transform = "scaleY(-1)";
        } else {
            subMenu.style.maxHeight = "0px";
            subMenu.style.paddingBottom = "0px";
            subMenuArrow.style.transform = "scaleY(1)";
        }

        setTimeout(() => {
            backgroundMap.style.transition = "none";
        }, 1000)
    }

    function main() {
        window.addEventListener("DOMContentLoaded", () => {
            toggleDropdown.call(tabDropdown[0])
        })

        tabDropdown.forEach((tab) => {
            tab.addEventListener("click", toggleDropdown);
        });

        // tabActivities.forEach((tab) => {
        //     tab.addEventListener("click", clickPanel);
        // });
    }

    main();
</script>

<script src="../static/js/map_student.js"></script>
{% endblock %}