<!-- Student view of their bus route for a particular school. -->

{% extends "base.html" %}
{% block title %}BusBuddy - Student Bus Overview{% endblock %}

<!-- Local stylesheets for this page -->
{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/map_student.css') }}">
{% endblock %}

<!-- Main page content -->
{% block content %}
<main>
    <!-- Header -->
    <header id="header" class="header page fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light">

            <div class="header-content">
                <!-- Actual header navigation items -->
                <!-- <div id="header-content" class="text-bg-light" tabindex="-1"> -->
                <ul class="content-main-left navbar-nav">
                    <a href="">
                        <li id="main-profile" class="main-link navbar-item">Profile</li>
                    </a>
                    <a href="">
                        <li id="main-route" class="main-link navbar-item">Route</li>
                    </a>
                    <a href="">
                        <li id="main-help" class="main-link navbar-item">Help</li>
                    </a>
                </ul>

                <!-- Header logo -->
                <div class="content-logo">
                    <a class="navbar-brand" href="">
                        <!-- <img id="header-logo-img" src="" alt="" /> -->
                        <span id="header-logo-text">BusBuddy</span>
                    </a>
                </div>
                
                <!-- Header profile -->
                <div class="content-main-right" id="">
                    <!-- <button id="school-btn" class="page-btn page-btn-dark" id="">
                        <span>For Schools</span>
                        <img class="page-btn-arrow" src="../static/vendor/images/buttons/arrow-right-light.svg" alt="">
                    </button> -->

                    <!-- Put profile image here -->
                    <img src="../static/vendor/images/maps/profileStudent.png" alt="">
                </div>
            </div>

        </nav>
    </header>

    <body>

        <div class="map-image">
            <img src="../static/vendor/images/maps/mapSampleBG.png" alt="">
        </div>
        
        <div class="route-container-outer">
            <span class="route-title">Updates</span>
            <div class="route-container-inner">
                <div class="route-wrapper">
                    <div class="route-name">
                        <img src="../static/vendor/images/maps/busIcon.png" alt="">
                        <div class="route-name-text">
                            <span class="route-name-title">Your Route</span>
                            <span class="route-name-subtitle">Early - Departing from Stop 5</span>
                        </div>
                    </div>

                    <div class="route-stops">
                        <div class="route-visual">
                            <div class="visual-circle" id="visual-circle-1"></div>
                            <div class="visual-circle" id="visual-circle-2"></div>
                            <div class="visual-circle" id="visual-circle-3"></div>
                        </div>
                    </div>

                    <div class="route-time">
                        <span>Bus estimated arrival: 7:36 AM</span>
                        <span>Destination estimated arrival: 7:58 AM</span>
                    </div>

                    <div class="route-btn">
                        <button class="route-btn-track">Track Location</button>
                        <button class="route-btn-cancel">Cancel Your Stop</button>
                    </div>

                </div>

                <div class="route-weather">
                    <img src="../static/vendor/images/maps/weatherIcon.png" alt="">
                    <div class="route-weather-text">
                        <span class="route-weather-title">Your Route</span>
                        <span class="route-weather-subtitle">Early - Departing from Stop 5</span>
                    </div>
                </div>

                <div class="route-status">
                    <img src="../static/vendor/images/maps/updateIcon.png" alt="">
                    <div class="route-status-text">
                        <span class="route-status-title">Your Route</span>
                        <span class="route-status-subtitle">Early - Departing from Stop 5</span>
                    </div>
                </div>
            </div>
        </div>

        <img class="ui-container" src="../static/vendor/images/maps/UIIcons.png" alt="">
    </body>
</main>

{% endblock %}

{% block scripts %}
<script>
    
</script>

<script src="../static/js/map_student.js"></script>
{% endblock %}